@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Lato:ital,wght@1,900&family=Philosopher:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;400&family=Kalam:wght@300;400;700&family=Lato:ital,wght@1,900&family=Philosopher:wght@400;700&family=Poppins:wght@400;700&display=swap');
:root {
  --container-color-input-loading: #4c4d50c9;
  --main-background-transparent: #122045b6;
  --container-color-loading: #484e5a9f;
  --main-background-gradient: #3f2067;
  --main-background-success: #6ee96e;
  --github-background-color: #F6F8FA;
  --color-level-background: #cec7c7;
  --github-background-nav: #242043;
  --main-background-color: #281245;
  --button-menu-color: #80808042;
  --color-main-linkedin: #0A66C2;
  --main-background-cv: #EEEFEF;
  --gradient-color-1: #3a48c163;
  --color-spinner-form: #2e4e75;
  --border-color-card: #133558;
  --color-main-github: #1F2328;
  --background-footer: #2a2150;
  --font-color-footer: #e3e7ef;
  --gradient-color-2: #CEA47B;
  --font-color-title: #c4d1ec;
  --font-color-text: #c4d1ec;
  --text-title-cv: #000000;
  --color-level: #FFD700;
  --text-error: #e86f5c;
  --text-cv: #0D0D0D;

  --text-title-presentation: "Philosopher", sans-serif;
  --text-general: "Philosopher", sans-serif;
  --text-linkedin-logo: "Lato", sans-serif;
  --text-copyright-card: 'Handjet';
  --text-presentation: "Kalam";
}
