.layout__container {
  background-color: var(--main-background-color);
  padding-bottom: 90px;
}

.layout__navigation {
  width: 100%;
}

.layout__footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
