.about_me__container {
  margin-top: 50px;
}

.about_me__paragraph {
  font-family: var(--text-presentation);
  color: var(--font-color-text);
  font-size: 24px;
}

.about_me__title {
  font-family: var(--text-title-presentation);
  color: var(--font-color-title);
  font-size: 35px;
}

@media(min-width: 768px) {
  .about_me__title {
    font-size: 40px;
  }
}