.about_me__container {
  background: linear-gradient(286deg, var(--banner-background-right), var(--banner-background-left) 100%);
  padding: 10px;
}

.about_me__paragraph {
  font-family: var(--text-presentation);
  color: var(--font-color-text);
  font-size: 24px;
}
