.card__container{
    justify-content: flex-end;
    border: 2px solid gray;
    flex-direction: column;
    height: 200px;
    display: flex;
    padding: 10px;
    width: 200px;
}

.card__image{
    height: 50px;
    width: 50px;
}