.carousel__container {
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 100%;
}

.carousel__container_image {
  height: 100%;
  padding: 5px;
  width: 100%;
}

.carousel__image {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel__container_btns {
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
  display: flex;
  width: 100%;
  top: 70px;
}

.carousel__btn {
  background-color: transparent;
  font-family: var(--text-title-presentation);
  color: var(--font-color-title);
  font-weight: 900;
  font-size: 35px;
  height: 40px;
  margin: 8px;
  border: none;
  width: 35px;
}

.carousel__btn:hover {
  color: var(--main-background-gradient);
}
