.contact_form__container {
  background-color: rgba(128, 128, 128, 0.303);
  color: var(--font-color-text);
  margin-bottom: 22px;
  margin-top: 140px;
  padding: 15px;
  width: 400px;
}

.contact_form__title {
  font-family: var(--text-title-presentation);
  color: var(--font-color-title);
  font-weight: 700;
}

.contact_form__paragraph {
  font-family: var(--text-general);
  font-size: 18px;
}

.contact_form__form {
  flex-direction: column;
  display: flex;
}

.contact_form__input {
  background-color: rgba(128, 128, 128, 0.085);
  color: var(--font-color-text);
  outline: none;
  height: 30px;
  border: none;
  padding: 5px;
  margin: 5px;
  width: 95%;
}

.contact_form__textarea {
  max-height: 200px;
  min-height: 50px;
  max-width: 96%;
}

.contact_form__input:focus {
  border-bottom: 2px solid var(--font-color-title);
  color: var(--font-color-text);
}

.contact_form__cont_btn {
  margin-top: 12px;
  width: 100%;
}

.contact_form__btn {
  background-color: var(--main-background-color);
  font-family: var(--text-title-presentation);
  color: var(--font-color-title);
  font-weight: 700;
  width: 220px;
  height: 45px;
  border: none;
  float: right;
}

.contact_form__btn:hover {
  background-color: var(--main-background-gradient);
}

.contact_form__error {
  border-bottom: 1px solid var(--font-color-title);
  color: var(--text-error);
  text-align: center;
  line-height: 18px;
  margin-top: 5px;
  font-size: 19px;
  height: 20px;
  width: 100%;
}