.presentation__container {
  background: url('https://res.cloudinary.com/dgouwu7h7/image/upload/v1693871470/portfolio/499dcc4deb1b9e76ee7f2aebf47cabb1.png');
  background-repeat: no-repeat;
  position: relative;
  height: 360px;
  width: 100%;
}

.presentation__links {
  position: absolute;
  display: flex;
  bottom: 20px;
  right: 0;
}

.presentation__logos {
  font-family: var(--text-linkedin-logo);
  transition: transform 0.5s ease;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-weight: 900;
  font-size: 30px;
  display: flex;
  height: 35px;
}

.presentation__logos:hover {
  transform: scale(1.1);
}

.presentation__logo_linkedin {
  background-color: var(--color-main-linkedin);
  color: #FFFFFF;
  width: 35px;
}

.presentation__logo_github {
  background-color: var(--github-background-color);
  color: var(--color-main-github);
  width: 100px;
}

.presentation__title {
  border: 2px solid var(--font-color-title);
  font-family: var(--text-title-banner);
  color: var(--font-color-title);
  text-align: center;
  line-height: 40px;
  font-weight: 300;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 2px;
  width: 70vw;
}

.presentation__text_cont {
  font-family: var(--text-presentation);
  font-size: 18px;
}

.presentation__a {
  text-decoration: none;
  margin-right: 20px;
}

@media(min-width: 500px) {
  .presentation__container {
    background-size: cover;
  }
}

@media(min-width: 768px) {
  .presentation__container {
    background-image: url('https://res.cloudinary.com/dgouwu7h7/image/upload/v1693883899/portfolio/7592b33effecc662ba27ac6b7a7f8887.png');
    grid-template-areas: "item2 item1";
    margin-top: 10px;
    height: 500px;
    padding: 20px;
  }

  .presentation__text_cont {
    grid-area: item2;
    font-size: 24px;
    width: 90%;
  }

  .presentation__title {
    border: 3px solid var(--font-color-title);
    text-orientation: upright;
    writing-mode: vertical-rl;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    margin-right: -80px;
    margin-top: 21px;
    font-size: 15px;
    display: flex;
    width: 60px;
  }

  .presentation__links {
    right: 100px;
  }
}

@media (min-width: 1440px) {
  .presentation__container {
    height: 600px;
  }

  .presentation__text_cont {
    font-size: 30px;
  }

  .presentation__title {
    margin-right: -100px;
    margin-top: 40px;
    font-size: 18px;
  }
}
