.presentation__container {
  background: url('https://cdn.gamma.app/n15u4xnkbrh7fpd/generated-images/x6IhILtdQ8Tphqg-7WD0G.jpg');
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 360px;
  width: 100%;
}

.presentation__layer {
  background-color: rgba(0, 0, 0, 0.852);
  color: var(--font-color-text);
  justify-content: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  align-items: center;
  font-size: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
}

.presentation__banner_title {
  color: var(--github-background-color);
}
.presentation__paragraph {
  color: var(--github-background-color);
  font-size: 18px;
}

.presentation__text_cont {
  font-family: var(--text-presentation);
  font-size: 18px;
}

.presentation__links_container {
  position: absolute;
  align-items: start;
  display: flex;
  bottom: 20px;
  right: 20px;
}

.presentation__a {
  background-color: var(--main-background-color);
  color: var(--font-color-footer);
  transition: transform 0.5s ease;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 25px;
  display: flex;
  height: 45px;
  margin: 10px;
  width: 45px;
  padding: 0;
}

.presentation__a:hover {
  transform: scale(1.1);
}
.presentation__logo_github {
  background-color: var(--github-background-color);
  color: var(--color-main-github);
  width: 35px;
}

.presentation__logos {
  font-family: var(--text-linkedin-logo);
  transition: transform 0.5s ease;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-weight: 900;
  font-size: 30px;
  display: flex;
  height: 35px;
}

.presentation__logos:hover {
  transform: scale(1.1);
}

.presentation__logo_linkedin {
  background-color: var(--color-main-linkedin);
  color: var(--font-color-text);
  width: 35px;
}

@media(min-width: 768px) {
  .presentation__container {
    height: 520px;
  }

  .presentation__layer {
    font-size: 35px;
  }
}
