.proyect_card__container {
  border: 1px solid black;
  flex-direction: column;
  font-size: 18px;
  display: flex;
  margin: 15px;
  width: 100%;
}

.proyect_card__cont_img {
  width: 100%;
}

.proyect_card__img {
  height: 100%;
  width: 100%;
}

.proyect_card__text {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.proyect_card__title {
  font-size: 26px;
}

.proyect_card__paragraph {
  margin-top: 5px;
}

.proyect_card__cont_btns {
  margin-top: 15px;
  display: flex;
}

.proyect_card__btn {
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  text-align: center;
  display: flex;
  width: 120px;
  height: 30px;
}

.proyect_card__cont_right {
  background-color: var(--main-color);
}

.proyect_card__btn_left {
  border: 1px solid var(--main-color);
}

.proyect_card__a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: black;
}

.proyect_card__title_table {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
}

.proyect_card__logos_list {
  background-color: rgb(238, 233, 233);
  align-items: center;
  border-radius: 50px;
  margin-top: 10px;
  margin-top: 0;
  display: flex;
  padding: 1px;
  height: 40px;
  width: 100%;
}

.proyect_card__logo {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin: 4px;
}

@media(min-width: 768px) {
  .proyect_card__container {
    font-size: 21px;
  }

  .proyect_card__text {
    margin-left: 60px;
  }

  .proyect_card__logo {
    width: 25px;
  }
}

@media(min-width: 1044px) {
  .proyect_card__container {
    flex-direction: row;
    max-width: 1000px;
    font-size: 25px;
    height: 350px;
  }

  .proyect_card__invested {
    flex-direction: row-reverse;
    display: flex;
  }

  .proyect_card__cont_img {
    width: 60%;
  }

  .proyect_card__img {
    height: 100%;
    width: 100%;
  }

  .proyect_card__logo {
    width: 30px;
  }
}