/* components/Loading.module.css */
.sending_form__loading {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100vh;
}

.sending_form__spinner {
  border-top: 4px solid var(--color-spinner-form);
  border: 4px solid rgba(255, 255, 255, 0.3);
  animation: spin 1s linear infinite;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.sending_form__text {
  color: var(--color-spinner-form);
  margin-top: 16px;
  font-size: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
