.skills_layout__container {
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 40px;
  width: 100%;
}

.skills_layout__title {
  font-family: var(--text-general);
  color: var(--font-color-title);
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

.skills_layout__list {
  grid-template-columns: repeat(auto-fit, minmax(155px, 0.1fr));
  justify-content: center;
  display: grid;
  width: 100%;
}

.skills_layout__link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

@media(min-width:768px) {
  .skills_layout__title {
    margin-bottom: 40px;
    font-size: 35px;
  }
}
