.skills_layout__container{
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.skills_layout__title{
  margin-bottom: 30px;
  text-align: center;
}
.skills_layout__list{
  grid-template-columns: auto auto;
  justify-content: space-around;
  display: grid;
  width: 100%;
}

.skills_layout__link{
  margin: 7px;
}

@media(min-width:768px){
  .skills_layout__list{
    grid-template-columns: auto auto auto;
  }
}

@media(min-width:1440px){
  .skills_layout__list{
    grid-template-columns: auto auto auto auto auto;
  }
}