.skills_layout__container {
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.skills_layout__title {
  margin-bottom: 30px;
  text-align: center;
  font-family: var(--text-general);
  font-weight: 700;
  font-size: 25px;
  color: var(--font-color-title);
}

.skills_layout__list {
  grid-template-columns: auto auto;
  justify-content: space-around;
  display: grid;
  width: 100%;
}

.skills_layout__link {
  margin: 7px;
}

@media(min-width:768px) {
  .skills_layout__list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
